<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pgrant Zeppelin Notebook Manager</title>
    <link rel="stylesheet" type="text/css" href="/css/pgrant" />
</head>
<body>
<div id="header">Pgrant Zeppelin Notebook manager</div>
{% if category_path %}
Category:
{% for category_idx in range(category_path|length) %}
{% if category_idx > 0 %}
{% set initial='/' %}
{% else %}
{% set initial='' %}
{% endif %}
{% if category_idx < (category_path|length - 1) %}
{% set final=' > ' %}
{% else %}
{% set final='' %}
{% endif %}
<a href="{{ initial }}{{ category_path[:category_idx]|join('/')}}/{{ category_path[category_idx] }}/">{{ category_path[category_idx] }}</a>{{ final }}
{% endfor %}
<br>
{% endif %}

Subcategories:
{% if subcategories %}
{% for category in subcategories.keys() %}
<a href="/{{ category_path|join('/')}}/{{ category }}/">{{ category }}</a> :
{% endfor %}
{% endif %}

{% for key in notebook_data.keys() %}

<hr>
<a href="/{{ key }}">{{ key }}</a>
<div class="notebook">
  {{ notebook_data[key]|safe }}
</div>
{% endfor %}

</body>

</html>